.displayArea{
    border: 1px solid #a4a5a6;
    border-radius: 3px;
    margin: 0 15px;
}
.valid {
    color: green;
    border-color: green !important;
}
.trouble {
    color: red;
    border-color: red !important;
}

